@import "./../../styles/_theme";

@mixin bigText {
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Montserrat" , sans-serif;
}

.heroText {
    @include bigText;

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #212121;
    font-size: 6rem;
    white-space: nowrap;

    background-image: linear-gradient(white 0 0);
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;

    //animation-name: coolAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 4s;

    clip-path:polygon(99.99% 0%, 100% 0%, 100% 100%, 99.99% 100%)

}

@keyframes coolAnimation {
    from {clip-path:polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)}
    to {clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)}
}

.heroTextSmall {
    @include bigText;

    color: white;

    font-size: 16px;


    background-image: linear-gradient(white 0 0);
    background-position: left;
    background-size: 0%;
    background-repeat: no-repeat;

    //animation-name: coolAnimationtwo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}

@keyframes coolAnimationtwo {
    0% {background-size: 0%;}
    50% {background-size: 100%; background-position: left; color: transparent;}
    51% {background-position: right; color: white;}
    100% {background-size: 0%; background-position: right; color: white;}
}

.heroTextContainer  {
    margin-top: 20rem;
    
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    position: relative;

}

.background {
    background-color: transparent;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .heroText {
        font-size: 30px;
        padding: 1rem;
        
    }
    .heroTextContainer{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {
    .heroText {
        font-size: 20px;
    }
}