

@mixin section-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin big-text {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}