@import "./../../styles/_theme";

@mixin bigText {
    @include big-text;
}

.blackSectionContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blackSection {
    background-color: black;
    color: white;
}

.whiteSectionContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.whiteSection {
    background-color: white;
}

.section {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 1px 10px 0px;
    height: 150px;
    top: -58px;
    transition: 0.5s;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    
}

.section:hover {
    top: 0px;
}

@media only screen and (max-width: 600px) {

    .section {
        top: 0px;
        position: static;
        height: 100px;
    }

    .container {       
        width: 100%;
    }

    .navbarItem {
        display: none;
    }

    .navButton {
        display: none !important;
    }

    .mobileNavButton {
        display: inline-block !important;
    }

    .navItem {
        justify-content: center;
        align-items: center;
    }

    .blackSection {
        display: none;
    }

    .logo {
        justify-content: center;
        align-items: center;
    }
}

.logo {
    background-color: transparent;
    display: flex;
    margin-top: 1rem;
}

.navbarItem {
    @include bigText;

    color: gray;
    white-space: nowrap;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 3.5rem;
    margin-bottom: -3.5rem;
    font-size: 12px;
    transition: 0.5s;
    text-decoration: none !important;

    background-image: linear-gradient(orangered 0 0);
    background-size: 0% 5%;
    background-repeat: no-repeat;
    background-position: 0% 35%;
}

.navbarItem:hover {
    background-size: 100% 5%;
    color: orangered;
}

.navButton {
    color: rgba(128, 128, 128, 0.486);
    font-size: 40px !important;
    margin: 1rem;
    vertical-align: middle;
}

.mobileNavButton {
    color: rgba(128, 128, 128, 0.486);
    font-size: 40px !important;
    margin: 1rem;
    vertical-align: middle;
    display: none !important;
}

.navItem {
    height: 100%;
    display: flex;
    align-items: center;


}

.navbarText {
    display: inline;
    font-size: 18px;
    margin: 1.5rem;
}

.button {
    @include bigText;

    background-color: orangered;
    padding: 1rem;
    margin: 1rem;
    font-size: 12px;

    transition: 0.5s;
}

.button:hover {
    background-color: white;
    color: black;
}

.socialIcon {
    color: gray;
    margin: 1rem;
    font-size: 16px;
    text-decoration: none !important;
    font-weight: 700;

    transition: 0.5s;
}

.socialIcon:hover {
    color: white;
}


.services:hover .dropdownContent {
    display: block;
}

.dropdownContent {
    display: none;

    position: absolute;
    background-color: gray;

    margin-left: 10rem;
    margin-top: 21rem;
    padding: 1rem;


    transition: 1s;
}

.dropdownContent:hover .dropdownContent {
    display: block;
}

.dropdownItem {
    display: block;
    margin: 2rem;
    text-decoration: none !important;
}