@import '../../styles/theme';

.keyText {
    @include highlightedText;
}

.titleText {
    color: black;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraphText {
    color: gray;
    font-size: 20px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardItem {
    margin-top: 5rem;
    align-items: top;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 700px;
}

.smallText {
    color: gray;
    font-size: 12px;
    text-transform: uppercase;
}

.bigText {
    color:  black;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}

.subText {
    color: gray;
    font-size: 25px;
    margin-top: 3rem;
}

.content {
    margin: 2rem;
    max-width: 1200px;
}

.cardIcon {
    color: red;
    font-size: 60px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    transition: 0.5s;
}

.cardItem:hover .cardIcon {
    color: black;
}

@media only screen and (max-width: 600px ) {
    .paragraphText {
        text-align: center;
    }
}